body {
  margin: 0;
}

.images-container {
  line-height: 0;
}

/* popup.js에서 재정의됩니다. 로딩 오류시 사용될 가능성있음. */
.images-container img {
  width: 100px;
  height: 100px;
}

nav {
  position: sticky;
  top: 0;
  background-color: var(--sl-color-gray-50);
  z-index: 1;
}

#conHeaders {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  gap: 8px;
  padding: 4px 0;
}

a.in-view sl-avatar::part(base) {
  border: 2px solid var(--sl-color-primary-600);
  box-shadow: 0 0 8px 0 var(--sl-color-primary-500);
  /* transition: border 0.2s, box-shadow 0.2s; */
}

#comboConWrap img {
  width: 50px;
  height: 50px;
}

.tags-removable sl-tag {
  transition: var(--sl-transition-medium) opacity;
}

/* popup.css 파일에 추가 */
#combo-container {
  display: flex;
  align-items: center; /* 요소들을 수직 중앙에 정렬합니다. */
  gap: 8px; /* 요소들 사이에 간격을 줍니다. */
}

nav > sl-divider {
  --spacing: var(--sl-spacing-2x-small);
}

/* popup.js에서 일부 재정의됩니다. 로딩 오류시 사용될 가능성있음. */
#shild {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

:root {
  --sl-focus-ring: 0 0 0 2px;
}

.glue {
  padding-inline-start: 0;
}

.glue li {
  list-style: none;
}

sl-tab-group{
  padding-top: 0;
}

.thumbnail{
  box-sizing: border-box;
}

.flash-border {
  animation: flash-border 2s ease-out forwards;
}

@keyframes flash-border {
  0% {
    border: solid red 12px;
  }
  100% {
    border: solid red 0px;
  }
}