.arcacon-focused{
    color: green;
}

.con-save{
    padding: 0 .5em;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 4px;
    color: var(--color-text);
    transition-duration: .3s;
    margin-right: 0.1em;
}